<div class="noo-page-breadcrumb">
	<div class="breadcrumb-wrap">
		<ul class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active"><span>{{title}}{{#is "tag"}}{{name}}{{/is}}</span></li>
		</ul>
	</div>
</div>
	