<div class="navbar-wrapper">
    <div class="navbar navbar-default  fixed-top shrinkable" role="navigation">
        <div class="container-boxed max">
            <div class="navbar-header">
                <h1 class="sr-only">NK Dance Services</h1>
                <a class="navbar-toggle collapsed" data-toggle="collapse" data-target=".noo-navbar-collapse">
                    <span class="sr-only">Navigation</span>
                    <i class="fa fa-bars"></i>
                </a>
                <a class="navbar-toggle member-navbar-toggle collapsed" data-toggle="collapse" data-target=".noo-user-navbar-collapse"><i class="fa fa-user"></i></a>
                <a href="/" class="navbar-brand" title="NK Dance Services Theme">
                    <img class="noo-logo-img noo-logo-normal" src="{{asset "images/logo.png"}}" alt="NK Dance Services Theme">
                    <img class="noo-logo-retina-img noo-logo-normal" src="{{asset "images/logo-retina.png"}}" alt="NK Dance Services Theme">
                </a>
            </div>
            <nav class="collapse navbar-collapse noo-navbar-collapse">
                <ul class="navbar-nav sf-menu">
                    {{navigation}}
                </ul>
            </nav>  
        </div>  
    </div>  
</div>