<div class="colophon wigetized">
    <div class="container-boxed max">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="widget widget_text">
                    <h4 class="widget-title">Address</h4>
                    <div class="textwidget">
                        <div class="address">
                            <ul>
                                <li><i class="fa fa-phone"></i> +240 370 4485 </li>
                                <li><i class="fa fa-envelope"></i> <a href="#">kaosochi@nkdanceservices.com</a></li>
                            </ul>
                        </div>
                        <div class="noo-social">
                            <a title="Facebook" href="https://www.facebook.com/Dance-With-NK-1016321761750730/" target="_blank">
                                <i class="fa fa-facebook facebook-bg-hover facebook-outlined"></i>
                            </a>
                            <a title="Twitter" href="https://twitter.com/dancewithnk" target="_blank">
                                <i class="fa fa-twitter twitter-bg-hover twitter-outlined"></i>
                            </a>
                            <a title="Google+" href="https://plus.google.com/b/114883422635966525311/" target="_blank">
                                <i class="fa fa-google-plus google-plus-bg-hover google-plus-outlined"></i>
                            </a>
                            <a title="Linkedin" href="https://www.linkedin.com/in/nk-dance-4803b8119" target="_blank">
                                <i class="fa fa-linkedin linkedin-bg-hover linkedin-outlined"></i>
                            </a>
                            <a title="Snapchat" href="#" target="_blank">
                                <i class="fa fa-snapchat snapchat-bg-hover snapchat-outlined"></i>
                            </a>
                        </div>
                        <div class="policy">
                            <a href="/privacy-policy/">Privacy Policy</a>
                            <a href="/terms-of-services/">Terms of Services</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget tweets-widget">
                    <h4 class="widget-title">
                        <span class="nth-word-first">Recent</span> Tweets
                    </h4>
                    <div id="recentTweets" class="recent-tweets">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget widget_nav_menu">
                    <h4 class="widget-title">Quicklink</h4>
                    <div class="menu-quicklink-container">
                        <ul class="menu">
                        {{navigation}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>  
    </div>  
</div>