<footer class="colophon site-info">
    <div class="container-full">
        <div class="footer-more">
            <div class="container-boxed">
                <div class="row">
                    <div class="col-md-12">
                        <div class="noo-bottom-bar-content">Copyright © 2016. NK Dance Services All rights reserved</div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</footer>