<div class="row our-class-section">
    <div class="col-md-12">
        <div class="container-boxed max">
            <div class="row our-class-header">
                <div class="col-md-12">
                    <div class="text-block">
                        <h2 class="custom-title-home"><span class="first">NK </span>Services</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-boxed max">
            <div class="row our-class-content">
                <div class="col-md-12 col-sm-12">
                    <div class="noo-recent-class">
                        <div class="noo-rn-content default">
                            <div class="row">
                                <div class="loop-item col-sm-3">
                                    <div class="item-wrap">
                                        <div class="item-featured">
                                            <a href="/dance-classes/" title="dance classes">
                                                <img width="600" height="450" src="{{asset "images/services/s1.png"}}" />
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <h3 class="item-title">
                                                <a href="/dance-classes/" title="">Dance Classes</a>
                                            </h3>
                                            <div class="info">
                                                <p>&nbsp;</p>
                                                <span></span>
                                            </div>
                                            <div class="learn-more">
                                                <a class="btn-darker" href="/dance-classes/" title="">Learn more </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="loop-item col-sm-3">
                                    <div class="item-wrap">
                                        <div class="item-featured">
                                            <a href="/choreography/" title="choreography">
                                                <img width="600" height="450" src="{{asset "images/services/s2.png"}}" />
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <h3 class="item-title">
                                                <a href="/choreography/" title="">Choreography</a>
                                            </h3>
                                            <div class="info">
                                                <p>&nbsp;</p>
                                                <span></span>
                                            </div>
                                            <div class="learn-more">
                                                <a class="btn-darker" href="/choreography/" title="">Learn more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="loop-item col-sm-3">
                                    <div class="item-wrap">
                                        <div class="item-featured">
                                            <a href="/wedding-services/" title="wedding services">
                                                <img width="600" height="450" src="{{asset "images/services/s3.png"}}" />
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <h3 class="item-title">
                                                <a href="/wedding-services/" title="">Wedding Services</a>
                                            </h3>
                                            <div class="info">
                                                <p>&nbsp;</p>
                                                <span></span>
                                            </div>
                                            <div class="learn-more">
                                                <a class="btn-darker" href="/wedding-services/" title="">Learn more </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="loop-item col-sm-3">
                                    <div class="item-wrap">
                                        <div class="item-featured">
                                            <a href="/private-events/" title="private events">
                                                <img width="600" height="450" src="{{asset "images/temp.png"}}" />
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <h3 class="item-title">
                                                <a href="/private-events/" title="">Private Events</a>
                                            </h3>
                                            <div class="info">
                                                <p>&nbsp;</p>
                                                <span></span>
                                            </div>
                                            <div class="learn-more">
                                                <a class="btn-darker" href="/private-events/" title="">Learn more </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="noo-gap noo-gap-30">
    </div>
</div>