<div class="row bg-image subscribe-section">
    <div class="text-center col-md-12">
        <hr class="noo-gap noo-gap-50">
        <div class="noo-cta-btn text-center">
            <h2 class="cta-title">Join our Monthly Membership </h2>
            <p class="cta-message">Take any class at your free time flexibly for whole month</p>
            <a href="membership.html" class="btn square metro btn-default btn-subscribe">
                Sign up now
            </a>
        </div>
        <hr class="noo-gap noo-gap-50">
    </div>
</div>