<div class="video-section">
<div class="container-boxed max video-section">
    <div class="row">
        <div class="col-md-12">
            <hr class="noo-gap noo-gap-50">
            <div class="text-block">
                <h2 class="custom-title-home"><span class="first">NK </span>Dance Videos</h2>
            </div>
            <div class="videos posts-loop slider">
                <div class="posts-loop-content row">
                    <div class="col-sm-6">
                        <div class="loop-thumb">
                            <div class="loop-thumb-wrap">
                                <div class="loop-thumb-content">
                                    <div class="carousel slide fade">
                                        <div id="playlistList" class="carousel-inner"> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="videos-content" class="video carousel slide fade col-md-6 col-sm-6">
                        <div class="carousel-inner">
                            <article class="item active">
                                <div class="loop-item-wrap">
                                    <div class="loop-item-featured">
                                        <a href="#">
                                            <div id="player"></div>
                                        </a>
                                    </div>
                                    <div class="loop-item-content">
                                        <span class="icon"><i class="fa fa-pause"></i></span>
                                        <h2 class="loop-item-title"></h2>
                                        <div class="loop-item-excerpt"></div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>