<div class="row welcome-section">
    <div class="container-boxed max">
        <div class="col-md-8 col-sm-12">
            <hr class="noo-gap noo-gap-100">
            <div class="text-block">
                <h2 class="custom-title-home">
                    <span class="first">welcome to</span> NK Dance Services
                </h2>
                <p>NK Dance Services is founded with our passion for dance and the appreciation for beauty of African culture.</p>
                <p>Here we not only teach African Dance, we take you on a unique cultural experience</p>
            </div>
            <div class="row our-services">
                <div class="col-sm-4 col-md-4 col-sm-6">
                    <span class="noo-icon">
                        <i class="fa fa-suitcase"></i>
                    </span>
                    <div class="noo-text-block">
                        <a href="/about-us/#thecompany">THE COMPANY <i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-sm-6">
                    <span class="noo-icon">
                        <i class="fa fa-user"></i>
                    </span>
                    <div class="noo-text-block">
                        <a href="/about-us/#thefounder">THE FOUNDER <i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-sm-6">
                    <span class="noo-icon">
                        <i class="fa fa-suitcase"></i>
                    </span>
                    <div class="noo-text-block">
                        <a href="/services/">OUR SERVICES  <i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <hr class="noo-gap noo-gap-100">
        </div>
        <div class="col-md-4 col-sm-6">
            <hr class="noo-gap noo-gap-100">
            <img src="{{asset "images/slideshow/k/k4.png"}}" alt="k2" class="image adjust-image">
            <hr class="noo-gap noo-gap-100">
        </div>
    </div>
</div>