{{!< default}}

<!-- Start Header -->
<header class="noo-header">
    {{navigation}}
</header>
<!-- End Header -->

 <!-- Start breadcrumbs -->
    {{> "breadcrumbs"}}
<!-- End breadcrumbs -->

<div class="main-content container-boxed max offset">
    <div class="row">
        <div class="noo-main col-md-9 post-area standard-blog">
            {{> "loop"}}
            <div class="pagination list-center">
                <span class='page-numbers current'>1</span>
                <a class='page-numbers' href='#'>2</a>
                <a class='page-numbers' href='#'>3</a>
                <a class="next page-numbers" href="#">Next</a>
            </div>
        </div>  
        
        <div class="noo-sidebar col-md-3">
            <div class="noo-sidebar-wrap">
                <div class="widget widget_latest_posts">
                    <h4 class="widget-title">
                        <span>Latest</span> Posts
                    </h4>
                    <ul>
                        <li class="clearfix">
                            <img width="70" height="70" src="http://placehold.it/70x70" alt="blog_thumb"/>
                            <h5><a href="blog-detail.html">Upcoming Yoga workshops in town</a></h5>
                        </li>
                        <li class="clearfix">
                            <img width="70" height="70" src="http://placehold.it/70x70" alt="blog_thumb"/>
                            <h5><a href="blog-detail.html">Extended stretching body practice for pain relief</a></h5>
                        </li>
                        <li class="clearfix">
                            <img width="70" height="70" src="http://placehold.it/70x70" alt="blog_thumb"/>
                            <h5><a href="blog-detail.html">Become an Yoga trainer at Yogi center</a></h5>
                        </li>
                    </ul>
                </div>
                <div class="widget widget_categories">
                    <h4 class="widget-title">
                        <span>post</span> categories
                    </h4>
                    <ul>
                        <li class="cat-item"><a href="#">Basic Yoga</a> (2)</li>
                        <li class="cat-item"><a href="#">Meditation</a> (1)</li>
                        <li class="cat-item"><a href="#">Workshop</a> (1)</li>
                        <li class="cat-item"><a href="#">Yoga Tutorials</a> (8)</li>
                    </ul>
                </div>
                <div class="widget widget_tag_cloud">
                    <h4 class="widget-title">
                        <span>Post</span> Tags
                    </h4>
                    <div class="tagcloud">
                        <a href='#'>audio post</a>
                        <a href='#'>basic yoga</a>
                        <a href='#'>gallery post</a>
                        <a href='#'>meditation</a>
                        <a href='#'>standard post</a>
                        <a href='#'>video post</a>
                        <a href='#'>workshop</a>
                        <a href='#'>yoga tutorials</a>
                    </div>
                </div>
                <div class="widget widget_class_slider">
                    <h4 class="widget-title">
                        <span>Popular</span> Class
                    </h4>
                    <div class="noo-class">
                        <div class="row">
                            <div class="widget-class-slider-content">
                                <div class="noo-class-slider-item col-sm-12">
                                    <div class="noo-class-slider-inner">
                                        <div class="class-slider-featured">
                                            <a href="#">
                                                <img width="600" height="450" src="http://placehold.it/600x450" alt="class_10"/>
                                            </a>
                                        </div>
                                        <div class="class-slider-content">
                                            <div class="class-slider-category">
                                                <a href="#">Vinyasa</a> 
                                            </div>
                                            <h5 class="class-slider-title">
                                                <a href="#" title="">Vinyasa Class</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="noo-class-slider-item col-sm-12">
                                    <div class="noo-class-slider-inner">
                                        <div class="class-slider-featured">
                                            <a href="#">
                                                <img width="600" height="450" src="http://placehold.it/600x450" alt="class_11"/>
                                            </a>
                                        </div>
                                        <div class="class-slider-content">
                                            <div class="class-slider-category">
                                                <a href="#">Flow</a>
                                            </div>
                                            <h5 class="class-slider-title">
                                                <a href="#" title="">Advance Flow</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="noo-class-slider-item col-sm-12">
                                    <div class="noo-class-slider-inner">
                                        <div class="class-slider-featured">
                                            <a href="#">
                                                <img width="600" height="450" src="http://placehold.it/600x450" alt="class_14"/>
                                            </a>
                                        </div>
                                        <div class="class-slider-content">
                                            <div class="class-slider-category">
                                                <a href="#">Kundalini</a>
                                            </div>
                                            <h5 class="class-slider-title">
                                                <a href="#" title="">Basic Kundalini</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="noo-class-slider-pagination" class="slider-indicators"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div> 